.profil {
  max-width: 350px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  margin: 2rem;
  padding: 2rem;
  position: relative;
}

.profil__picturename {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profil__picture {
  width: 10rem;
  border-radius: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills__headline {
  font-size: 1.5rem;
  background-color: #ddd6fe;
  text-align: center;
  padding: 0.3rem 0.8rem;
}

.skills__tags {
  display: flex;
  display: row;
  justify-content: space-between;
  list-style-type: none;
}

.skills__onetag {
  background-color: #ddd6fe;
  padding: 0.3rem 0.8rem;
}

.skills__button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ddd6fe;
  align-content: center;
  padding: 1.5rem;
  border: none;
  transition: all 1s;
}
.skills__button:hover {
  background-color: #8800ff;
  color: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}
