footer {
  width: 100%;
  background-color: #ddd6fe;
  _padding: 1.5rem;
  position: sticky;
  bottom: 0;
  display: flex;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__icon {
  width: 25%;
  display: flex;
  justify-content: center;
}

.footer__button {
  background-color: #ddd6fe;
  border: none;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
}
.nav__background--activ {
  background-color: #6850de;
}
